:root {
  --card-width: 20vw;
  --divider-width: 2vw;
}
body {
  background-color: #f7e0e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.masonry {
  width: calc(var(--card-width) * 4 + var(--divider-width) * 3);
  /* height: 10000px; */
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  counter-reset: cards;
}

.card {
  width: var(--card-width);
  padding-bottom: 30px;
  position: relative;
}

.card.show {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.card img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.show img {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out
}
.card.show img:hover {
  transform: scale(1.05);
}


.divider1,
.divider2,
.divider3 {
  flex-basis: 100%;
  width: var(--divider-width);
  /* background-color: pink; */
}

/* flex items order */
.divider1 {
  order: 1;
}
.divider2 {
  order: 2;
}
.divider3 {
  order: 3;
}
.card:nth-of-type(4n + 1) {
  order: 1;
}
.card:nth-of-type(4n + 2) {
  order: 2;
}
.card:nth-of-type(4n + 3) {
  order: 3;
}
.card:nth-of-type(4n + 4) {
  order: 4;
}
.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.enlarged img {
  max-width: 90%;
  max-height: 90%;
}

@keyframes slideIn {
  from {
    filter: opacity(0);
    transform: translateY(100px);
  }
  to {
    filter: opacity(1);
    transform: translateY(0);
  }
}
